.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 227px 445px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 145px;
  height: 145px;
  background-image: none;
  margin: 223px 134px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 145px;
  height: 145px;
  background-image: url("images/42ca3b75-f6b4-462e-8579-2db707c76ba2-4eaad115-0f93-493e-bd98-18a16357ad39-v1.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -146px 134px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -143px 414px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 246px 503px 0 0;
}

.u-section-1 .u-text-4 {
  margin: -22px 313px 60px 637px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  animation-duration: 1000ms;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 245px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 122px;
    margin-right: 110px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -145px;
    margin-right: 110px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -164px;
    margin-right: 377px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 98px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 110px;
    margin-left: 640px;
  }

  .u-section-1 .u-btn-1 {
    width: 158px;
    height: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 130px;
    margin-right: 76px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -192px;
    margin-right: 314px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 54px;
    margin-right: 263px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 335px;
    margin-left: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 153px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 11px;
    margin-right: -250px;
  }

  .u-section-1 .u-image-1 {
    margin-right: -250px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -16px;
    margin-right: 140px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 38px;
    margin-right: 140px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 114px;
    margin-left: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 149px;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 73px;
    margin-right: -276px;
  }

  .u-section-1 .u-image-1 {
    margin-right: -276px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -194px;
    margin-right: 0;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 14px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -23px;
    margin-right: 131px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-1 {
    height: 18px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 100px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 702px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 349px;
  height: 388px;
  margin: 50px auto 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-size: 1rem;
  line-height: 29px;
  width: 349px;
  font-weight: normal;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 32px;
  width: 32px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: -32px 226px 0 auto;
}

.u-section-2 .u-icon-3 {
  height: 32px;
  width: 32px;
  margin: -32px auto 0 226px;
}

.u-section-2 .u-icon-4 {
  height: 32px;
  width: 32px;
  margin: -32px auto 0 184px;
}

.u-section-2 .u-icon-5 {
  height: 32px;
  width: 32px;
  animation-duration: 1000ms;
  margin: -32px 184px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 702px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  line-height: 1.2;
  font-size: 3rem;
  width: 353px;
  margin: 50px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 72px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 34px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 628px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 171px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 171px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 129px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 129px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 579px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 652px;
  }

  .u-section-2 .u-image-1 {
    width: 336px;
    height: 374px;
  }

  .u-section-2 .u-text-1 {
    width: 336px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 110px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 110px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 68px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 68px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 614px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 202px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 202px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 160px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 160px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 356px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    width: 320px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 102px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 102px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 60px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 60px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 73px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: 0 40px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 838px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 170px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 435px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  margin-left: 0;
  margin-right: 0;
  border-style: solid;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 435px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 316px;
  height: 258px;
  margin-top: 14px;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 46px;
}

.u-section-4 .u-image-2 {
  width: 324px;
  height: 258px;
  margin: -116px 25px 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 435px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-text-3 {
  margin: 110px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  background-image: none;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 21px;
    margin-right: 25px;
  }

  .u-section-4 .u-image-1 {
    width: 261px;
    margin-left: 38px;
  }

  .u-section-4 .u-image-2 {
    width: 267px;
    margin-right: 21px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 21px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 106px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 85px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: -12px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-4 .u-image-1 {
    width: 200px;
    margin-left: 29px;
  }

  .u-section-4 .u-image-2 {
    width: 205px;
    margin-right: 16px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 20px;
    margin-left: -10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: -5px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 14px;
    margin-left: -22px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 78px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 22px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 14px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 386px;
  }

  .u-section-4 .u-image-1 {
    width: 338px;
    margin-bottom: 0;
    margin-left: 22px;
  }

  .u-section-4 .u-image-2 {
    width: 337px;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
    margin-right: 8px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 22px;
    margin-right: 19px;
    margin-left: -10px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: -10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-4 .u-image-1 {
    width: 277px;
    margin-left: 14px;
  }

  .u-section-4 .u-image-2 {
    width: 275px;
    margin-right: 7px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 200px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 830px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 170px 286px 0;
}

.u-section-5 .u-line-1 {
  width: 123px;
  height: 5px;
  transform-origin: right center 0px;
  animation-duration: 1000ms;
  border-style: solid;
  margin: -31px auto 0 447px;
}

.u-section-5 .u-shape-1 {
  width: 166px;
  height: 166px;
  background-image: none;
  margin: 47px auto 0 487px;
}

.u-section-5 .u-image-1 {
  width: 166px;
  height: 166px;
  background-image: url("images/8b80b4d8-32db-4668-8490-9b1227b0754b-4eaad115-0f93-493e-bd98-18a16357ad39-v1.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -166px auto 0 487px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 47px auto 0 540px;
}

.u-section-5 .u-text-3 {
  animation-duration: 1000ms;
  margin: 10px auto 0 480px;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 10px auto 0 483px;
}

.u-section-5 .u-text-5 {
  animation-duration: 1000ms;
  margin: 10px auto 60px 357px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 186px;
    margin-right: 186px;
  }

  .u-section-5 .u-line-1 {
    margin-left: 347px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 387px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 387px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 456px;
    margin-top: 160px;
    margin-left: 132px;
    margin-right: 132px;
  }

  .u-section-5 .u-line-1 {
    margin-top: -88px;
    margin-left: 381px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 114px;
    margin-left: 277px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 163px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-5 .u-line-1 {
    margin-right: 129px;
    margin-left: auto;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 111px;
    margin-left: 187px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 187px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 85px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-line-1 {
    margin-right: 28px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 87px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 87px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    width: auto;
  }
}